/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

ul{
    list-style-type: none;
}

header{
    background-color: #FF6900;
}

a{
    text-decoration: none;
}

/* COMMON */

.container-maxw-1180px{
    max-width: 1180px;
    margin: 0 auto;
}

/* UTILITY */

.pad-20px {
    padding: 20px;
}

.p-t-50px {
    padding: 50px;
}

/* HEADER */

.header-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar > a{
    color: #ffffff;
}

.logo{
    max-height: 50px;
}

/* MAIN */

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.obj-layout{
    max-width: calc(100% / 3);
}

/* FOOTER */

