/* ROOT */

:root{
    --orange-color: #ff6900;
    --gray-color: #9e9e9e;
    --green-color: #007F00;
    --red-color: #FF0000;
    --white-color: #ffffff;
}

/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

ul{
    list-style-type: none;
}

header{
    background-color: var(--orange-color);
    box-shadow: 0 2px 15px var(--gray-color);
}

a{
    text-decoration: none;
}

/* COMMON */

.container-maxw-1180px{
    max-width: 1180px;
    margin: 0 auto;
}

.discount-price-red{
    color: var(--red-color);
}

.linethrough-price {
    text-decoration: line-through;
}

.tagline{
    position: absolute;
    bottom: 10%;
}

.green{
    background-color: var(--green-color);
}

.red {
    background-color: var(--red-color);
}
 
.heart{
    font-size: 1.2rem;
    background-color: var(--white-color);
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 0;
}

/* UTILITY */

.pad-5px{
    padding: 5px;
}

.pad-20px {
    padding: 20px;
}

.p-t-50px {
    padding: 50px;
}

.white-color-item{
    color: var(--white-color);
}

/* HEADER */

.header-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    max-height: 30px;
}

.anchor-icon-items{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
}

/* MAIN */

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.obj-layout{
    max-width: calc(100% / 3);
}

.card-obj{
    position: relative;
}

.top-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card-obj .top-img:hover, .heart:hover{
    opacity: 1;
    color: red;
}

/* FOOTER */

footer {
    background-color: #222;
    padding: 30px;
}

.flex-footer-items{
    display: flex;
    gap: 15px;
}

.flex-container{
    display: flex;
}

.footer-section{
    width: 50%;
    padding: 20px;
}

.social{
    text-align: right;
}